GITHUB_CLIENT_SECRET=0eec7b76c94bfff0cb57d18b8a793aa0e5df83b7
GITHUB_CLIENT_ID=Ov23lizsaBm4WkOLecA8
BETTER_AUTH_URL=http://localhost:3000/
DATABASE_URL=postgresql://neondb_owner:npg_La9tUBSOz5wp@ep-crimson-waterfall-a1lkqz6y-pooler.ap-southeast-1.aws.neon.tech/vaultr?sslmode=require&channel_binding=require
BETTER_AUTH_SECRET=km6mDvNDzY9Zy75SuRaNWt2Dv1pQWlxa
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=vaultr
